.resource-header h5 {
  color: black;
  margin: 0;
}
.resource-header span {
  padding: 0;
}
.resource-header .heart {
  width: 20px;
  height: 20px;
  color: rgba(255,140,0, .8);
}
.resource-header .heart:hover {
  color: rgba(255,140,0, 1);
}
.resource-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.resource-body iframe {
  /* width: 50%; */
  margin-right: 10px;
}
.resource-body img {
  width: 30%;
  margin-right: 10px;
  padding:5px;
  outline:1px dotted rgba(0,0,0,0.4);
}
.resource-text {
  width: 60%;
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .resource-body {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .resource-text {
    width: 50%;
    margin:0;
    /* justify-content: center; */
  }
  .resource-body img {
    width: 50%;
    margin:0;
  }
  .resource-header p {
    margin: 0;
  }
}
