.resources {
  padding-left: 0;
}
.Resources {
  padding: 0 80px;
}
.Resources ol {
  padding-left: 0;
}
.Resources h2 {
  color: black;
  font-size: 1.5em;
}
.Resources a {
  color: black
}
.Resources a:hover {
  color: black
}
.categories {
  outline: 1px solid red;
  padding: 1px;
}
.search-box {
  text-align: right;
  margin: 0px;
}
.search-box input {
  width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .Resources {
    padding: 0 20px;
  }
  .search-box {
    font-size: 14px;
    margin: 20px;
  }
  .search-box input {
    width: 100%;
  }
  .form-control, input {
    border-width: 1px;
  }
}
