.navbar-default {
  margin-bottom: 0;
  background-color: rgba(255,140,0, .8);
}
.navbar-brand, .navbar-nav>li>a {
  /* color: rgba(140,0,255, .8) !important; */
  color: rgba(0,0,0, .9) !important;
}
.navbar-brand:hover, .navbar-nav>li>a:hover {
  color: rgba(0,0,0, .5) !important;
}
.nav>li>a {
 padding: 20px 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(255,140,0, .2);
}
