.Header {
  height: 500px;
  background-image: url('/adrian-pelletier-365930-unsplash.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.header-text>h1 {
  color: #fff;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}
.header-text>h4 {
  color: #fff;
  margin: 10px 0;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.get-started-button {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .header-text>h1  {
    font-size: 30px;
  }
}
