.navbar-default {
  margin-bottom: 0;
  background-color: rgba(255,140,0, .8);
}
.navbar-brand, .navbar-nav>li>a {
  /* color: rgba(140,0,255, .8) !important; */
  color: rgba(0,0,0, .9) !important;
}
.navbar-brand:hover, .navbar-nav>li>a:hover {
  color: rgba(0,0,0, .5) !important;
}


/* @media only screen and (max-width: 600px) {

} */
